@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$blue: #1d3b6c;
$fontColor: #fff;
$mainFontFamily: "Roboto", sans-serif;


*{
    box-sizing: border-box;
}
body{
    background-image: url("https://picsum.photos/1400/1400");
    background-size: cover;
    background-color: $blue;
    color: $fontColor;
    font-family: $mainFontFamily;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        max-width: 600px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(20px);
        width: 100%;
        color: #000;
        border-radius: 10px;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        gap: 1rem;

        a{
            color: #000;
        }

        section{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: baseline;
        }

        h3{
            width: 50%;
        }

        label{
            width: 100%;
            display: flex;
            background-color: #fff;
            padding: 1rem;
            border-radius: 30px;
            gap: 1rem;
            
            span{
                width: fit-content;
            }
            input{
                width: 70%;
                border: none;
                background-color: transparent;
            }
        }
        button{
            max-width: 200px;
            width: 100%;
        }
    }
}

.btn{
    max-width: 200px;
    background-color: transparent;
    border: 1px solid #2c2c2c;
    border-radius: 30px;
    padding: 0.5rem;
    text-transform: lowercase;
    width: fit-content;
    &:hover{
        background-color: #2c2c2c;
        color: #fff;
    }
}





/*
{
    "liveSassCompile.settings.formats": [

        {
            "format": "expanded",
            "extensionName": ".css",
            "savePath": "~/../css",
            "savePathReplacementPairs": null
        }
    ]
}*/